html, body {
  background: #222 url("../images/background.jpg") center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  font-family: sans-serif;
  color: white;
}

h4 {
    font-family: 'Cinzel', serif; 
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    color: #008066;
    background: rgba(0, 0, 0, .6); 
}

.form-control {
    background-color: #b3b3b3;
    color: black;
}

/* NAVBAR */
.navbar, .nav a {
    background-color: #222;
    color: white;
}

.nav li a:hover,
.nav li a:focus {
    background: none;
    font-weight: bold;
    color: #008066;
}

#cover {
    font-family: 'Cinzel', serif; 
    background: #222 url("../images/hp.jpg") 0% 10% no-repeat;
    background-size: cover;
    padding-bottom: 5px;
}

/* BUTTONS */
.btn {
    background-color: black;
    opacity: .6;
    border: 2px solid #0066cc;
}

.btn:hover,
.btn:focus {
    color: #008066;
    opacity: 1;
    font-size: bold;
}

#remote-profile {
    background: rgba(0, 0, 0, .6);
    margin-top: 20px;
    display: none;
}

/* MODE */
#mode {
    border: 10px solid #0059b3;
    border-radius: 5px;
    padding-bottom: 5px;
    /*
    display: none;
    */
}

#mode .nav-pills li {
    border: 1px solid black;
}

#mode .nav-pills li a:hover {
    background-color:#b3d9ff;
    color: black;
}

/* FEATURES */

.features {
    background: rgba(0, 0, 0, .6);
    /*
    display: none;
    */
}

.feature-temp label {
    font-weight: normal;
 
}

.feature-temp .form-control {
    text-align: center;
}

.temp-parameters {
    text-align: right;
}

.checkbox {
    text-align: left;
    margin-right: 40px;
    margin-left: 45px
}

.add-feature {
    background-color: #b3b3b3;
    color: black;
    width: 50%;
    margin-right: 2px;
    text-align: center;
}

/* DEFINITION */

.definition {
    font-family: 'Cinzel', serif;  
    /*
    display: none;
    */
}

.definition-value {
    background: rgba(0, 0, 0, .6);  
}

.definition p {
    padding: 0;
    margin: 0;
}

.definition form {
    text-align: right;
}

.definition label {
    margin-right: 85px;
    font-family: sans-serif;
}

.definition input {
    color:black;
    background-color:#b3b3b3;
    width: 80px;
    text-align: center;
    font-weight: normal;
    margin-left: 5px;
}

.affix {
    bottom: 5px;
}

/* CHECKSUM / IRP */

.cs-irp h3 {
    font-family: 'Cinzel', serif; 
}

.cs-function-content {
    margin-top: 5px;
    font-size: 12px;
    margin-left: 10px;
}

.cs-function-content input {
    text-align: center;
    
}

.cs-function-content .form-group {
    margin-bottom: 2px;
}



.irp-default input,
.irp-conditional input {
    text-align: center;
}

.irp-default,
.irp-conditional {
   background: rgba(0, 0, 0, .6); 
}

.create-checksum, .create-structure {
    /*
    display: none;
    */
}

.irp-content .form-group {
    margin-bottom: 5px;
}

.condition-a, .condition-b {
    margin-top: 5px;
}

.btn-add-cond, .btn-new-cond {
    background: none;
}

.btn-of:hover,
.btn-of:focus,
.btn-add-cond:hover,
.btn-add-cond:focus,
.btn-new-cond:hover,
.btn-new-cond:focus{ 
    color: #80ff80;
}
